p{
color : blue !important;	
	
}
*.centrirano {
	text-align : center;	
}
div.centrirano{
	font-weight: bold;	
}
#p1{
	text-decoration: underline;	
}

input[type='text'] {
	background-color: yellow;
	
}
input:not([type='text']) {
	background-color: green;
	
}
a:hover{
	color: green;
	font-size: 100px;
	transition: width 2s, height 4s;
	
}

#css-div {
	width: 100px;
	height: 100px;
	background: red;
	margin-bottom:30px;
	transition: width 2s, linear 0.1s;
	
	
}
#css-div:hover{
	width: 300px;
	height: 300px;
	background: blue;
	
}
body{
	background-image: url('./Images/patern.jpg');
}






